*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image:url('https://img.freepik.com/free-vector/pink-white-squares-background_1164-900.jpg');
    background-position: center;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}
.container{
    display: flex;
    width: 40%;
    max-width: 1000px;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 10px;
    color:rgb(238, 184, 90);
}
.welcome{
    flex: 1;
    padding: 20px;
    text-align: center;
    
}

.welcome h1{
    font-size: 50px;
    margin-bottom: 10px;

}
.welcome p{
    font-size: 13px;
    margin-bottom: 20px;
}
.social-icons{
    margin-bottom: 10px;
    

}


.signup-box{
    width: 340px;
    height: 580px;
    margin:auto;
    background-color: rgba(240, 70, 166, 0.2);
    border-radius: 30px;
    
}
 
 
 h2{
     text-align: center;
     padding-top: 15px;
     
 }
 h4{
     text-align: center;
     
 }
 form{
     width: 300px;
     margin-left: 20px;
 }
 
 form label{
     display: flex;
     margin-top: 25px;
     font-size: 15px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid rgb(228, 69, 117);
    border-radius: 6px;
    outline: none;
    
}

input[type="button"]{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color:rgb(225, 73, 149);
    color: white;
    font-size: 20px;
    
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;

}